#content_area {
    padding-bottom: 6em;
    color: #ccc;
}

#content_area > h2 {
    font-size: 32px;
    line-height: 1em;
    margin-top: 8px;
    margin-bottom: 8px;
}

#set_description {
    font-size: 20px;
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: 3em;
    margin-right: 3em;
    text-align: justify;
}

#project_grid {
    display: table;
    border-spacing: 12px;
}
.project_row {
    display: table-row;
    width: 100%;
}

.project_card {
    display: table-cell;
    min-height: 500px;
    width: 20%;
    background-color: #ccc;
    border: 2px double #93e819;
    border-radius: 4px;
    text-align: center;
    position: relative;
    color: black;
    text-decoration: none;
    padding-top: 10px;
}

.empty_card {
    display: table-cell;
    min-height: 500px;
    width: 20%;
    background-color: #222;
    border: 2px solid #333;
    border-radius: 4px;
    text-align: center;
    position: relative;
    color: black;
    text-decoration: none;
    padding-top: 10px;
}

.project_card.private {
    background-color: #ff7011;
    border: 2px solid black;
}

.project_card.discontinued {
    background-color: #333;
    border: 2px dashed black;
}

.project_card > h3 {
    line-height: 1em;
    margin: 4px;
    padding-bottom: 8px;
    font-size: 24px;
    color: black;
}
.project_card > img {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    background-color: transparent;
    opacity: .5;
}
.project_card:hover, .project_card:active {
    color: black;
    text-decoration: none;
    background-color: #25aae1;
    border-color: #2884cb;
}
.project_card:hover > img, .project_card:active > img {
    opacity: 1;
}


#project_index {
    margin-top: 2em;
    max-width: 1280px;
}

#project_index > .project_entry {
    display: block;
    margin: auto;
    margin-left: 100px;
    margin-bottom: 1em;
    padding: 16px;
    background: url("bg_blk_80.png");
    border: 2px solid #333;
    border-radius: 4px;
    color: #ccc;
}
#project_index > .project_entry:hover {
    background: url("bg_wht_60.png");
    color: black;
    text-decoration: none;
    border-color: #2884cb;
}
#project_index .layout {
    display: table;
    width: 100%;
}
#project_index .layout > div {
    display: table-row;
}
#project_index .layout > div > .photo_column {
    display: table-cell;
    vertical-align: middle;
    width: 202px;
    padding: 0px;
    margin: 0px;
}
#project_index .layout > div > .photo_column > img {
    display: block;
    width: 200px;
    border: 2px double #93e819;
    border-radius: 4px;
    margin: 0px;
    padding: 0px;
}
#project_index > .project_entry:hover .layout > div > .photo_column > img {
    border: 2px solid transparent;
}
#project_index .layout > div > .text_column {
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
    padding-left: 32px;
    padding-right: 32px;
    text-align: left;
}
#project_index .layout > div > .text_column > h3 {
    margin-top: 0px;
    color: #93E819;
}
#project_index > .project_entry:hover .layout > div > .text_column > h3 {
    color: black;
}