#content_area {
    padding-bottom: 6em;
    color: #ccc;
}

#content_area > h2 {
    font-size: 32px;
    line-height: 1em;
    margin-top: 8px;
    margin-bottom: 8px;
}

#set_description {
    font-size: 21px;
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: 3em;
}

#project_grid {
    display: table;
    border-spacing: 12px;
}
.project_row {
    display: table-row;
    width: 100%;
}

.project_card {
    display: table-cell;
    min-height: 500px;
    width: 20%;
    background-color: #ccc;
    border: 2px double #93e819;
    border-radius: 4px;
    text-align: center;
    position: relative;
    color: black;
    text-decoration: none;
    padding-top: 10px;
}

.empty_card {
    display: table-cell;
    min-height: 500px;
    width: 20%;
    background-color: #222;
    border: 2px solid #333;
    border-radius: 4px;
    text-align: center;
    position: relative;
    color: black;
    text-decoration: none;
    padding-top: 10px;
}

.project_card.private {
    background-color: #ff7011;
    border: 2px solid black;
}

.project_card.discontinued {
    background-color: #333;
    border: 2px dashed black;
}

.project_card > h3 {
    line-height: 1em;
    margin: 4px;
    padding-bottom: 8px;
    font-size: 24px;
    color: black;
}
.project_card > img {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    background-color: transparent;
    opacity: .5;
}
.project_card:hover, .project_card:active {
    color: black;
    text-decoration: none;
    background-color: #25aae1;
    border-color: #2884cb;
}
.project_card:hover > img, .project_card:active > img {
    opacity: 1;
}

