#content_area {
    padding-bottom: 6em;
}

#project_grid {
    display: table;
    border-spacing: 12px;
}
.project_row {
    display: table-row;
    width: 100%;
}

.project_card {
    display: table-cell;
    min-height: 500px;
    width: 20%;
    background-color: #e9e3e5;
    border: 2px double #47b9e2;
    border-radius: 4px;
    text-align: center;
    position: relative;
    color: black;
    text-decoration: none;
    padding-top: 10px;
}

.empty_card {
    display: table-cell;
    min-height: 500px;
    width: 20%;
    background-color: #222;
    border: 2px solid #333;
    border-radius: 4px;
    text-align: center;
    position: relative;
    color: black;
    text-decoration: none;
    padding-top: 10px;
}

.project_card.private {
    background-color: #9fa2b4!important;
    border: 2px solid black!important;
}

.project_card:hover.private {
    background-color: #ff7011!important;
}

.project_card.discontinued {
    background-color: #d4d4d6!important;
    border: 2px dashed #94b1bc!important;
}

.project_card:hover.discontinued {
    background-color: white!important;
    border: 2px dashed black!important;
}

.project_card > h3 {
    line-height: 1em;
    margin: 4px;
    padding-bottom: 8px;
    font-size: 24px;
    color: black;
}
.project_card > img {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    background-color: transparent;
    opacity: .5;
}
.project_card:hover, .project_card:active {
    color: black;
    text-decoration: none;
    background-color: #25aae1;
    border-color: #2884cb;
}
.project_card:hover > img, .project_card:active > img {
    opacity: 1;
}