#project_grid {
    display: table;
    width: 100%;
}
.project_row {
    display: table-row;
}
.project_card {
    display: table-cell;
    width: 25%;
    min-height: 500px;
    background-color: #d8d8d8;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    position: relative;
}
.project_card > h3 {
    line-height: 1em;
    margin: 4px;
    padding-bottom: 8px;
    font-size: 24px;
}
.project_card > img {
    width: 100%;
}
