#forms {
}

.auth_interface {
   display: block;
   width: 50%;
   color: black;
}
#guest_interface {
   float: right;
}
.auth_interface h2 {
   text-align: center;
}
.auth_interface>form {
   display: block;
   background-color: #bbb;
   min-height: 400px;
   max-width: 400px;
   margin-top: 20px!important;
   margin-bottom: 20px!important;
   padding: 10px;
   border-radius: 16px;
   vertical-align: center;
}
.auth_interface>form table {
   margin-left: auto;
   margin-right: auto;
}
.auth_interface>form input[type=submit] {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 16px;
}
#guest_interface>form {
   margin-left: 30px!important;
   margin-right: auto;
}
#login_interface>form {
   margin-right: 30px!important;
   margin-left: auto;
}


.login_error {
    width: 350px;
    margin: auto;
    margin-top: 3.5em;
    text-align: center;
    font-size: 20px;
    color: #b51919;
}


#content_area {
    background-color: transparent!important;
    margin: 0px!important;
    padding: 0px!important;
    display: table;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
#content_area>div {
    display: table-cell;
    vertical-align: middle;
}