body {
    margin: 0px;
    /*background-color: #d8d8d8;*/
    background-image: url("bg_texture2.png");
    color: black;
}

a {
    color: #409f00;
    text-decoration: none;
}
a:hover {
    color: #075f9d;
    text-decoration: none;
}


#page_header {
    margin: 0px;
    padding: 10px;
    padding-left: 1em;
    background-color: #eee;
    color: black;
}
#page_header>h1 {
    margin: 0px;
    line-height: 1em;
    padding: 0px;
    font-size: 48px;
    color: #ccc;
}
#auth_toolbar {
    background-color: #888;
    color: white;
    padding: 4px;
}
#auth_links {
    float: right;
}
#auth_toolbar a {
    color: #93e819;
    text-decoration: none;
}
#auth_toolbar a:hover {
    color: #25aae1;
    text-decoration: underline;
}
#content_area {
    margin: 8px;
    padding: 8px;
    background-color: #eee;
}
img {
    max-width: 100%;
}
