@font-face {
    font-family: 'league_gothic';
    src: url('fonts/league_gothic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cantarell';
    src: url('fonts/cantarell.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    /*background-color: #d8d8d8;*/
    background-image: url("bg_hexagons_a.png");
    background-position: center;
    color: #aaa;
    font-family: cantarell;
}

h1 {
    font-family: league_gothic;
}

body.touch_emulation {
    overflow: hidden;
}

a {
    color: #93e819;
    text-decoration: none;
}
a:hover {
    color: #25aae1;
    text-decoration: none;
}

.danger {
    background-color: black!important;
    color: red!important;
    font-weight: bold;
}


.vegas {
    background-color: black!important;
    color: lime;
    font-weight: bold;
    animation-name: hue_rotate;
    animation-duration: 1s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    -webkit-animation-name: hue_rotate;
    -webkit-animation-duration: 1s;
    -webkit-animation-direction: normal;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@keyframes hue_rotate {
    0% {color: #F00;}
    33% {color: #0F0;}
    66% {color: #00F;}
    100% {color: #F00;}
}
@-webkit-keyframes hue_rotate {
    0% {color: #F00;}
    33% {color: #0F0;}
    66% {color: #00F;}
    100% {color: #F00;}
}


#page_header {
    margin: 0px;
    padding: 10px;
    padding-left: 1em;
    background-color: #444;
    color: #eee;
    border-bottom: 1px solid black;
}
#page_header>h1 {
    margin: 0px;
    font-size: 48px;
    line-height: 1em;
    letter-spacing: 3px;
    margin-bottom: -6px;
    text-shadow: 2px 2px 0px #333, -2px 2px 0px #333, 2px -2px 0px #333, -2px -2px 0px #333;
    padding: 0px;
    color: #eee;
}
#auth_toolbar {
    background-color: #333;
    color: white;
    padding: 4px;
    margin-top: -1px;
    border-bottom: 1px solid black;
}
#auth_links {
    float: right;
}
#content_area {
    margin: 8px;
    padding: 8px;
}
img {
    max-width: 100%;
}
