body {
    background: #333;
    color: #eee;
}

#takemehome {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: -30px;
}

#content_area {
    text-align: center;
    margin-left: -8px;
    margin-right: -8px;
}
.step_description {
    text-align: left;
}

.step_description>*:not(h1):not(h2):not(h3) {
    margin-left: 15%;
}
.step_description>h1,.step_description>h2, .step_description>h3 {
    margin-left: 10%;
}


.step_check {
    display: block;
    text-align: left;
    margin-left: 2em;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: bold;
}

.touch_emulation .step_check label {
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: white;
}

.picture_grid {
    width: 100%;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}
.step_picture {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: white;
    padding: 1em;
    padding-bottom: 1px;
    border-radius: 1em;
}
.normal_scale {
    margin: auto;
    width: 80%;
}
.grid_scale {
    width: 100%;
    display: inline-block;
}


.step_picture > img {
    border-radius: 8px;
    width: 100%;
}
.right {
    float: right;
}

.picture_caption {
}


.work_step {
    position: relative;
    margin: 0px;
    padding: 32px;
}
.step_layout {
    display: table;
    width: 100%;
    height: 100%;
}
.picture_column {
    display: table-cell;
    width: 60%;
    vertical-align: top;
}
.evens .picture_layout {
    border: 8px solid #555;
}
.odds .picture_layout {
    border: 8px solid #999;
}

.step_layout {
    display: table;
    height: 500px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.picture_layout {
    width: 100%;
    overflow-y: scroll;
}
.active_step.evens .picture_layout {
    background-image: url("bg_texture.png");
}
.active_step.odds .picture_layout {
    background-image: url("bg_texture_light.png");
}

.picture_row {
    display: table-row;
}
.picture_cell {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: .25em;
}
.picture_column img {
    width: 100%;
}
.text_column {
    display: table-cell;
    vertical-align: top;
}
.text_layout {
    display: table;
    width: 100%;
}
.text_row {
    display: table-row;
}
.text_top {
    display: table-cell;
}
.text_top>h2:first-child {
    display: block;
    margin-left: 1em;
    text-align: center;
}
.evens .text_top>h2:first-child {
    background-color: black;
}
.odds .text_top>h2:first-child {
    background-color: white;
}

.text_bottom {
    display: table-cell;
    vertical-align: bottom;
}

.evens {
    background-image: url("bg_texture.png");
    color: white!important;
}
.odds {
    background-image: url("bg_texture_light.png");
    color: black!important;
}

.completed_step {
    background-color: #ccc!important;
    opacity: 0.4;
}

.pending_step {
    opacity: 0.4;
}


input[type="submit"] {
    font-size: 32px;
    margin-top: 2em;
    margin-bottom: 1em;
}
