#takemehome {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: -30px;
}

#content_area {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

#content_area > h2 {
    color: #eee;
    font-size: 32px;
    line-height: 1em;
    letter-spacing: 1px;
}


#content_area > h1 {
    font-size: 48px;
    letter-spacing: 3px;
    color: #eee;
    line-height: 1em;
    margin-top: 1em;
    margin-bottom: 5px;
}

.step_description {
    text-align: left;
}

.step_description>*:not(h1):not(h2):not(h3) {
    margin-left: 15%;
}
.step_description>h1,.step_description>h2, .step_description>h3 {
    margin-left: 10%;
}


.text_bottom {
    text-align: left;
}


.step_check {
    display: block;
    margin-left: 2em;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: bold;
}

.touch_emulation .step_check label {
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
}

.touch_emulation .evens .step_check label {
    background-color: black;
    color: white;
}

.touch_emulation .odds .step_check label {
    background-color: white;
    color: black;
}

.picture_grid {
    width: 100%;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}
.step_picture {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: white;
    padding: 1em;
    padding-bottom: 1px;
    border-radius: 1em;
}
.normal_scale {
    margin: auto;
    width: 80%;
}
.grid_scale {
    width: 100%;
    display: inline-block;
}


.picture_cell > img {
    border-radius: 8px;
    width: 100%;
}

.picture_cell > video {
    display: inline-block;
    border-radius: 8px;
    width: 100%;
}

.right {
    float: right;
}

.picture_caption {
}


.work_step {
    position: relative;
    margin: 0px;
    padding: 32px;
}
.work_step:before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    right: 0px;
    height: 70px;
    z-index: 10;
}
.evens.work_step:before {
    background-color: black;
}
.odds.work_step:before {
    background-color: white;
}

.step_layout {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 20;
}
.picture_column {
    display: table-cell;
    width: 60%;
    vertical-align: top;
}
.evens .picture_layout {
    background-color: #333;
    border: 1px solid #888;
}
.odds .picture_layout {
    background-color: #ccc;
    border: 1px solid #333;
}

.step_layout {
    display: table;
    height: 500px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.picture_layout {
    width: 100%;
    overflow-y: auto;
}
.active_step.evens .picture_layout {
    background-color: #333;
}
.active_step.odds .picture_layout {
    background-color: #ccc;
}

.picture_row {
    display: table-row;
}
.picture_cell {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: .25em;
}
.picture_column img {
    width: 100%;
}
.text_column {
    display: table-cell;
    vertical-align: top;
    padding-left: 1em;
    font-size: 18px;
}
.text_layout {
    display: table;
    width: 100%;
}
.text_header {
    position: relative;
    margin-top: -32px;
    margin-left: -6px;
    margin-right: -22px;
    height: 70px;
}



.header_button {
    display: none;
}
.guest_mode .header_button {
    display: inline-block!important;
    position: absolute;
    color: black;
    border-radius: 4px;
    background-position: center center;
    background-repeat: no-repeat;
}
.odds .header_button {
    background-color: #aaa;
}
.evens .header_button {
    background-color: #777;
}


.header_button:nth-of-type(1) {
    left: 0px;
    top: 19px;
    width: 32px;
    height: 32px;
}
.header_button:nth-of-type(1) {
    background-image: url('start_arrow.png');
}
.header_button:nth-of-type(1):hover {
    background-image: url('start_arrow_hover.png');
}


.header_button:nth-of-type(2) {
    left: 40px;
    top: 15px;
    width: 40px;
    height: 40px;
}
.header_button:nth-of-type(2) {
    background-image: url('back_arrow.png');
}
.header_button:nth-of-type(2):hover {
    background-image: url('back_arrow_hover.png');
}




.header_button:nth-of-type(3) {
    right: 40px;
    top: 15px;
    width: 40px;
    height: 40px;
}
.header_button:nth-of-type(3) {
    background-image: url('next_arrow.png');
}
.header_button:nth-of-type(3):hover {
    background-image: url('next_arrow_hover.png');
}




.header_button:nth-of-type(4) {
    right: 0px;
    top: 19px;
    width: 32px;
    height: 32px;
}
.header_button:nth-of-type(4) {
    background-image: url('end_arrow.png');
}
.header_button:nth-of-type(4):hover {
    background-image: url('end_arrow_hover.png');
}




.text_header>h2 {
    position: absolute;
    top: 12px;
    left: 80px;
    right: 80px;
    height: 56px;
    display: inline-block;
    font-size: 32px;
    text-align: center;
    margin-top: 0px;
    overflow-y: hidden;
}

.text_row {
    display: table-row;
}
.text_top {
    display: table-cell;
}
.text_bottom {
    display: table-cell;
    vertical-align: bottom;
}

.evens {
    background: url("bg_blk_80.png");
    color: white;
}
.odds {
    background: url("bg_wht_60.png");
    color: black;
}

.completed_step {
    background-color: #ccc!important;
    opacity: 0.4;
}

.pending_step {
    opacity: 0.4;
}


input[type="submit"] {
    font-size: 32px;
    margin-top: 2em;
    margin-bottom: 1em;
}
