{% load staticfiles %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="Open Hardware Assembly Kit">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" 
        href="{% static 'ohai_kit/screen.css' %}" />
  <script type="text/javascript" 
          src="{% static 'ohai_kit/jquery-2.0.3.min.js' %}" >
  </script>
  {% if touch_emulation %}
  <script type="text/javascript"
          src="{% static 'ohai_kit/touch_scroll.js' %}" >
  </script>
  {% endif %}
  <title>{% block page_title %}
    OHAI-kit: Open Hardware Assembly Instructions Kit
  {% endblock %}</title>

  {% block head_ext %}
  {% endblock head_ext %}
</head>
<body {% if touch_emulation %}class="touch_emulation"{% endif %}>
  <header id="page_header" class="page-header">
  <div class="l-page">
    <h1 class="header-logo"><a href="/">OHAI&ndash;kit</a></h1>
    <div class="header-desc">
      <p>OHAI-kit or Open Hardware Assembly Instructions is<br />your one-stop shop for all LulzBot User Guides you need.</p>
    </div>
  </div>
  </header>

  <div id="content_area">
  {% block content %}
  {% endblock content %}
  </div>

  <footer id="page_footer" class="page-footer">
    <div class="l-page">
    <a href="https://www.lulzbot.com" class="footer-logo"><img src="{% static 'ohai_kit/lulz-sm.png' %}" alt="LulzBot.com"></a>
    <div class="footer-info">
    <div class="footer-menu"></div>
      <div class="footer-desc">
        <p class="footer-desc--copy">
          <span class="copyleft">ɔ</span> Aleph Objects &mdash; Committed to free and open-source technology.
        </p>
        <p class="footer-desc--source">
          OHAI-kit is free software! Available via <a href="https://github.com/alephobjects/ohai-kit">github</a> &amp; <a href="https://gitorious.org/ohai-kit/ohai-kit">gitorious</a>.
        </p>
      </div>
    </div>
    </div>
  </footer>
</body></html>
