{% load staticfiles %}
<!doctype html>
<html><head>
  <link rel="stylesheet" type="text/css" 
        href="{% static 'ohai_kit/ohai_style.css' %}" />
  <script type="text/javascript" 
          src="{% static 'ohai_kit/jquery-2.0.3.min.js' %}" >
  </script>
  {% if touch_emulation %}
  <script type="text/javascript"
          src="{% static 'ohai_kit/touch_scroll.js' %}" >
  </script>
  {% endif %}
  <title>{% block page_title %}
    OHAI-KIT: Open Hardware Assembly Instructions Kit
  {% endblock %}</title>

  {% block head_ext %}
  {% endblock head_ext %}
</head>
<body {% if touch_emulation %}class="touch_emulation"{% endif %}>
  <div id="page_header">
    <h1>OHAI-kit</h1>
  </div>

  {% if user and user.is_authenticated or is_guest %}
    <div id="auth_toolbar">
      {% if user and user.is_authenticated %}    
        Hello, {{user.username}}!
      {% else %}
        Hello, Guest!
      {% endif %}
      <span id="auth_links">
        <a href="/">Home</a>
        - <a href="/session_settings/">Settings</a>
        {% if user.is_staff %}
          - <a href="/admin/">Admin Tools</a>
        {% endif %}
        {% if is_guest and not guest_only or not is_guest %}
        - <a href="/accounts/logout/">Log Out</a>
        {% endif %}
      </span>
    </div>
  {% endif %}

  <div id="content_area">
  {% block content %}
  {% endblock content %}
  </div>
</body></html>
