{% load staticfiles %}
<!doctype html>
<html><head>
  <link rel="stylesheet" type="text/css" 
        href="{% static 'ohai_kit/ohai_style.css' %}" />

  <script type="text/javascript" 
          src="{% static 'ohai_kit/jquery-2.0.3.min.js' %}" />
  </script>
  <title>{% block page_title %}
    OHAI-KIT: Open Hardware Assembly Instructions Kit
  {% endblock %}</title>

  {% block head_ext %}
  {% endblock head_ext %}
</head>
<body>
  <div id="page_header">
    <h1>Aleph Objects Assembly System</h1>
  </div>

  {% if user %}
  <div id="auth_toolbar">
    Hello, {{user.username}}!
    <span id="auth_links">
      <a href="/">Home</a> -
      {% if user.is_staff %}<a href="/admin/">Admin Tools</a> - {% endif %}
      <a href="/accounts/logout/">Log Out</a>
    </span>
  </div>
  {% endif %}

  <div id="content_area">
  {% block content %}
  {% endblock content %}
  </div>
</body></html>
