{% extends "base.html" %}
{% block head_ext %}
<style type="text/css">
#forms {
}

.auth_interface {
   display: block;
   width: 50%;
}
#guest_interface {
   float: right;
}
.auth_interface h2 {
   text-align: center;
}
.auth_interface>form {
   display: block;
   background-color: white;
   min-height: 400px;
   max-width: 400px;
   margin-top: 20px!important;
   margin-bottom: 20px!important;
   padding: 10px;
   border-radius: 16px;
   vertical-align: center;
   box-shadow: 0px 4px 20px #888;
}
.auth_interface>form table {
   margin-left: auto;
   margin-right: auto;
}
.auth_interface>form input[type=submit] {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 16px;
}
#guest_interface>form {
   margin-left: 30px!important;
   margin-right: auto;
}
#login_interface>form {
   margin-right: 30px!important;
   margin-left: auto;
}




</style>
{% endblock %}

{% block content %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<div id="guest_interface" class="auth_interface">
  <form method="post" action="{% url 'ohai_kit:guest_access' %}">
    {% csrf_token %}
    <h2>Login as Guest</h2>
    <input type="submit" value="guest access" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>

<div id="login_interface" class="auth_interface">
  <form method="post" action="{% url 'ohai_kit:login' %}">
    {% csrf_token %}
    <h2>Login as Worker</h2>
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>
{% endblock %}
