{% extends "ohai_kit/base.html" %}
{% load staticfiles %}

{% block head_ext %}

{% endblock %}

{% block content %}

<div class="l-page">
<div id="login_panes">
  <div id="guest_interface" class="auth_interface">
    <form method="post" action="{% url 'ohai_kit:guest_access' %}">
      {% csrf_token %}
      <h2 class="title">Login as Guest</h2>
      <input type="submit" value="guest access" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>
  
  <div id="login_interface" class="auth_interface">
    <form method="post" action="{% url 'ohai_kit:login' %}">
      {% csrf_token %}
      <h2 class="title">Login as Worker</h2>
      <table>
        <tr>
          <td>{{ form.username.label_tag }}</td>
          <td>{{ form.username }}</td>
        </tr>
        <tr>
          <td>{{ form.password.label_tag }}</td>
          <td>{{ form.password }}</td>
        </tr>
      </table>
      
      <input type="submit" value="login" />
      <input type="hidden" name="next" value="{{ next }}" />

      {% if form.errors %}
      <div class="login_error">
        Your username and password didn't match. Please try again.
      </div>
      {% endif %}

    </form>
  </div>
  </div>
</div>
{% endblock %}
