{% extends "ohai_kit/base.html" %}
{% load staticfiles %}
{% load markdown_deux_tags %}
{% load thumbnail %}

{% block head_ext %}

<script type="text/javascript">
$(document).ready(function () {
   $("input[type='number']").change(function(event_data) {
     var field = event_data.target;
     var normalize = Number(field.value);
     if (isNaN(normalize)) {
       normalize = 1;
     }
     if (normalize < 1) {
       normalize = 1;
     }
     field.value = Math.round(normalize);
     console.info(field);
   });
});
</script>
{% endblock head_ext %}

{% block content %}
<div id="project_layout">
  <div class="layout_row">
    <div class="photo_column">
      {% if project.photo %}
        <img src="{% thumbnail project.photo "600x0" %}" />
      {% else %}
        <img src="{% static 'ohai_kit/no_img.png' %}" />
      {% endif %}
    </div>
    <div class="info_column">
      <h2 class="title">{{ project.name }}</h2>
      <p>
        {{ project.abstract | markdown:"safe" }}
      </p>
      <form action="{% url 'ohai_kit:start_job' project.slug %}" method="post">
        {% csrf_token %}
        
        <div style="visibility:hidden" class="form_inputs">
          <div>
            <label for="batch">Batch</label>
            <input type="text" id="batch" name="batch" />
          </div>
          <div>
            <label for="quant">Quantity</label>
            <input type="number" value=1 id="quant" name="quant" />
          </div>
        </div>
        <div>
          <input type="submit" value="Begin Project Workflow" />
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
