{% extends "ohai_kit/base.html" %}
{% load staticfiles %}
{% load markup %}
{% load thumbnail %}
{% load columnize %}




{% block head_ext %}
<link rel="stylesheet" type="text/css"
      href="{% static 'ohai_kit/workflow.css' %}" />
<script type="text/javascript" 
        src="{% static 'ohai_kit/workflow.js' %}"></script>
<script type="text/javascript">
/* "ohai_data" defines variables used by javascript that need to be
  derrived from Django template tags. */
var ohai_data = {
  "update_url": "{% url 'ohai_kit:update_job' job_id %}",
};
</script>
{% endblock head_ext %}




{% block content %}
<h2>{{ project.name }} Workflow</h2>

{% for step, state in sequence %}
  <dir class="work_step {{state}}_step {% cycle 'evens' 'odds' %}">
    <div class="step_layout">
      <div class="picture_column">
        <div class="picture_layout step_content">
          {% for picture_row in step.get_step_pictures|columnize:2 %}
            <div class="picture_row">
              {% for picture in picture_row %}
                <div class="picture_cell">
                  <img src="{% thumbnail picture.photo "600x0" %}" />
                  <div class="picture_caption">{{ picture.caption }}</div>
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="text_column">
        <div class="text_layout step_content">
          <div class="text_row">
            <div class="text_top">
              <h2>{{ step.name }}</h2>
              <div class="step_description">
                {{ step.description | markdown:"safe" }}
              </div>
            </div>
          </div>
          <div class="text_row">
            <div class="text_bottom">
              <div class="step_id" style="display:none">{{ step.id }}</div>
              {% for check in step.get_step_checks %}
                <div class="step_check">
                  <input type="checkbox" name="{{ step.name }}"
                         value="{{ check.message }}">{{check.message}}</input>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </dir>
{% endfor %}
<form action="{% url 'ohai_kit:close_job' job_id %}" method="post">
  {% csrf_token %}
  <input type="submit" value="Assembly Complete" />
</form>
{% endblock %}
