{% extends "ohai_kit/base.html" %}
{% load staticfiles %}

{% block content %}
<h2>{{ project.name }} Workflow</h2>

{% for step, state in sequence %}
  <dir class="work_step {{state}}_step {% cycle 'evens' 'odds' %}">
    <h2>{{ step.name }}</h2>
    <p>{{ step.description }}</p>
    <div class="step_id" style="display:none">{{ step.id }}</div>
    {# editor tag formatting hack < #}
    {% if step.get_step_pictures|length > 1 %}
    <div class="picture_grid">
    {% endif %}
      {% for picture in step.get_step_pictures %}
      <div class="step_picture
                  {% if step.get_step_pictures|length > 1 %}
                  grid_scale
                  {% else %}
                  normal_scale
                  {% endif %}">
        <img src="/media/{{ picture.photo }}" />
        <div class="picture_caption">{{ picture.caption }}</div>
      </div>
      {% endfor %}
    {% if step.get_step_pictures|length > 1 %}
    </div>
    {% endif %}
    {% for check in step.get_step_checks %}
    <div class="step_check">
      <input type="checkbox" name="{{ step.name }}"
             value="{{ check.message }}">{{check.message}}</input>
    </div>
    {% endfor %}
  </dir>
{% endfor %}
<form action="{% url 'ohai_kit:close_job' job_id %}" method="post">
  {% csrf_token %}
  <input type="submit" value="Assembly Complete" />
</form>

<link rel="stylesheet" type="text/css"
      href="{% static 'ohai_kit/workflow.css' %}" />
<script type="text/javascript" 
        src="{% static 'ohai_kit/workflow.js' %}"></script>
<script type="text/javascript">
/* "ohai_data" defines variables used by javascript that need to be
  derrived from Django template tags. */
var ohai_data = {
  "update_url": "{% url 'ohai_kit:update_job' job_id %}",
};
</script>
{% endblock %}
