{% extends "ohai_kit/base.html" %}
{% load staticfiles %}
{% load markup %}
{% load thumbnail %}
{% load columnize %}

{% block head_ext %}

<script type="text/javascript" src="{% static 'ohai_kit/jquery.stickem.js' %}"></script>
<script type="text/javascript" src="{% static 'ohai_kit/imagesloaded.pkgd.js' %}"></script>
<script type="text/javascript" src="{% static 'ohai_kit/workflow_stickem.js' %}"></script>
{% if is_guest %}
  <script type="text/javascript" src="{% static 'ohai_kit/guest_workflow.js' %}"></script>
{% else %}
  <script type="text/javascript" src="{% static 'ohai_kit/workflow.js' %}"></script>
  <script type="text/javascript">
   /* "ohai_data" defines variables used by javascript that need to be
   derrived from Django template tags. */
   var ohai_data = {
     "update_url": "{% url 'ohai_kit:update_job' job_id %}",
   };
  </script>
{% endif %}
{% endblock head_ext %}

{% block content %}
<div class="l-page"><h2 class="title"><span class="breadcrumb">{{ project.name }} Workflow</span></h2></div>

{% for step, state, this_step, next_step, last_step in sequence %}
  <section 
    {% if is_guest %}id="{{ this_step }}"{% endif %} class="work_step {% if is_guest %}guest_mode active_step{% else %}{{state}}_step{% endif %} {% cycle 'evens' 'odds' %}">
    <div class="l-page">
      <div class="text_column">
        <h2 class="step-title"><span class="step-id">{{ this_step|cut:"step_" }}</span> {{ step.name }}</h2>
        <div class="step_description">
          {{ step.description | markdown:"safe,attr_list" }}
        </div>
        <div class="text_bottom">

          <div class="step_id" style="display:none">{{ step.id }}</div>
          {% if is_guest %}
          {% else %}
            {% for check in step.get_step_checks %}
              <div class="step_check">
                <label>
                  <input type="checkbox" name="{{ check.id }}" />
                  {{ check.message }}
                </label>
              </div>
            {% empty %}
              <div class="step_check">
                <label>
                  <input type="checkbox" name="dummy_check" />
                  Next
                </label>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="picture_column">
        {% for media_row in step.get_step_media|columnize:2 %}
          {% for hint, media in media_row %}
            {% if hint == "img" %}
              <div class="picture">
              <div class="picture_caption">{{ media.caption }}</div>
                <img src="{% thumbnail media.photo "600x0" %}" />
              </div>
            {% elif hint == "video" %}
              <div class="picture">
                <!-- reference for video tag:
                https://stackoverflow.com/questions/6206342/best-way-to-implement-html5-video
                -->
                <video controls="" preload="auto">
                  <source src="{{ media.attachment.url }}"
                          type='video/webm; codecs="vp8, vorbis"' />
                </video>
                <div class="picture_caption">{{ media.caption }}</div>
              </div>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endfor %}
{% if is_guest %}
  <div class="step-done"><span class="step-done--text"> Done!</span> <a id="takemehome" href="/">Take me home</a></div>
{% else %}
<form action="{% url 'ohai_kit:close_job' job_id %}" method="post">
  {% csrf_token %}
  <input type="submit" value="Assembly Complete" />
</form>
{% endif %}
{% endblock %}
